# Core dependencies
--index-url https://download.pytorch.org/whl/cu126

torch
torchvision
torchaudio

--index-url https://pypi.org/simple

sentence-transformers
transformers
tqdm

# LangChain + FAISS
langchain
langchain-community
langchain-huggingface
faiss-cpu
bitsandbytes

sentencepiece
protobuf
accelerate
fastapi
uvicorn
openai

# Optional
python-dotenv